.crm-dash-flex1 .firstd1 div{
    width: 100%;
    border-radius: 8px;
    padding-top: 16px;
    padding-right: 13px;
    padding-bottom: 16px;
    padding-left: 13px;
    border-width: 1px;
    background: #FAFAFA;
    border: 1px solid #F5F4F4;
}
.crm-dash-flex1 .firstd1 div h2 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #242424;
}
.crm-dash-flex1 .second1 .header {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #344054;
}
.crm-dash-flex1 .second1 .table-cont .table-header h2 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #292D32;
    padding: 16px;
    border-right: 1px solid #F2F4F7;
    border-radius: 8px;

}
.crm-dash-flex1 .second1 .table-cont .table-header h2:last-child{
    border-right: none;
}

.crm-dash-flex1 .second1 .table-cont .table-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #F9FAFB;
    border-radius: 8px;
}

.crm-dash-flex1 .second1 .table-cont .table-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 8px;
}
.crm-dash-flex1 .second1 .table-cont .table-body h2 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #344054;
    padding: 16px;
    border-right: 1px solid #F2F4F7;
    border-radius: 8px;
}
.crm-dash-flex1 .second1 .table-cont .table-body h2:last-child{
    border-right: none;
}
.crm-dash-flex1 .third1 .header{
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #292D32;
}
.crm-dash-flex1 .third1 {
    width: 606;
    height: 304;
    border-radius: 8px;
    background-color: #FAFAFA;
    padding: 16px;
}

.crm-dash-flex1 .third1 .graph {
    width: 100%;
    height: 300px;
}

.loan-dashboard-main-cont .main-dashboard .main_content .loan-dash-table-cont .navigation .header-crm1 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.1%;
    color: #344054;
}
.loan-dashboard-main-cont .main-dashboard .main_content .loan-dash-table-cont .navigation .filters .search-crm {
    width: 278px;
    border-radius: 4px;
    padding-top: 10px;
    padding-right: 22px;
    padding-bottom: 10px;
    padding-left: 22px;
    border-width: 1px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -2%;
    /* color: #DBE1E6; */
    border: 1px solid #E7EBEE;
    outline: none;
}
.loan-dashboard-main-cont .main-dashboard .main_content .loan-dash-table-cont .crm-th1 {
    grid-template-columns: repeat(6,1fr) 0.6fr !important;
}
.loan-dashboard-main-cont .main-dashboard .main_content .loan-dash-table-cont .crm-th1 h3 {
    white-space: wrap;
    overflow: visible;
}
.loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-appd-box .box {
    width: 100%;
    /* height: 120;
    gap: 24px; */
    border-radius: 8px;
    padding-top: 16px;
    padding-right: 13px;
    padding-bottom: 16px;
    padding-left: 13px;
    border-width: 1px;
    background: #FAFAFA;
    border: 1px solid #F5F4F4;
}
.loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-appd-box .box h2 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #242424;
}
.loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-appd-box .box h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #242424;
    text-align: center;
}
.loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-doc-mat .header h1{
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #344054;
}
.loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-doc-mat .header button {
    /* width: 207;
    height: 50;
    gap: 10px; */
    border-radius: 8px;
    padding-top: 11px;
    padding-right: 16px;
    padding-bottom: 11px;
    padding-left: 16px;
    border-width: 1px;
    background: var(--Primary-Blue-1, #0D448C);
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #FFFFFF -20.83%, rgba(255, 255, 255, 0) 15.62%);
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-doc-mat {
    border-radius: 12px;
    background: #FAFAFA;
    padding: 16px;
}
.loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-doc-mat .table-cont .table-header h2{
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #292D32;
    padding: 16px;
    border-right: 1px solid #F2F4F7;

}
.loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-doc-mat .table-cont .table-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-doc-mat .table-cont .table-header h2:last-child{
    border-right: none;
}

.loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-doc-mat .table-cont .table-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-doc-mat .table-cont .table-body h2 {
    border-right: 1px solid #F2F4F7;

}
.loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-doc-mat .table-cont .table-body h2:last-child{
    border-right: none;
}

.loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-doc-mat .table-cont .table-body h2 .b1 {
    width: 100%;
    height: 100%;
    /* height: 56;
    gap: 10px; */
    padding-top: 7px;
    padding-right: 16px;
    padding-bottom: 7px;
    padding-left: 16px;
    border-left-width: 1px;
    background-color: white;
}
.loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-doc-mat .table-cont .table-body h2 .b1 h2 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #344054;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}
.loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-doc-mat .table-cont .table-body h2 .b1 h2 span {
    color: #0D448C;
    font-size: 20px;
    font-weight: bolder;
}
.loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-doc-mat .table-cont .table-body h2 .b1 h5 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #525866;
}
.loan-dashboard-main-cont .main-dashboard .main_content .loan-details-nav .crm-repay {
    /* width: 173px;
    height: 50;
    gap: 10px; */
    border-radius: 8px;
    padding-top: 11px;
    padding-right: 16px;
    padding-bottom: 11px;
    padding-left: 16px;
    border-width: 1px;
    background: var(--Primary-Blue-1, #0D448C);
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #FFFFFF -20.83%, rgba(255, 255, 255, 0) 15.62%);
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-appd-box .box1 {
    padding-bottom: 43px;
    border: 1px solid #F5F4F4;
    background: none;
}
.loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-appd-box .box1 h2 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #344054;
}
.loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-appd-box .box1 h1 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #344054;
    text-align: start;
}
.loan-dashboard-main-cont .main-dashboard .main_content .loan-dash-table-cont .crm-applic9 {
    grid-template-columns: 0.4fr 1fr 1fr 1fr 1fr 1fr 0.8fr 1fr 0.6fr;
}
.loan-dashboard-main-cont .main-dashboard .main_content .loan-dash-table-cont .crm-applic9 h3 input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
  }
  
  .loan-dashboard-main-cont .main-dashboard .main_content .loan-dash-table-cont .crm-applic9 h3 input[type="checkbox"]:checked::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 4px;
    height: 8px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  .loan-dashboard-main-cont .main-dashboard .main_content .loan-dash-table-cont .crm-applic5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .loan-dashboard-main-cont .main-dashboard .main_content .innovate-d-crm-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  .loan-dashboard-main-cont .main-dashboard .main_content .innovate-d-crm-cont .boxD {
    width: 100%;
    /* height: 264; */
    border-radius: 12px; 
    background: #FAFAFA;
    padding: 20px;
  }
  .loan-dashboard-main-cont .main-dashboard .main_content .innovate-d-crm-cont .boxD h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #344054;
  }
  .loan-dashboard-main-cont .main-dashboard .main_content .innovate-d-crm-cont .boxD h3 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #747474;
  }
  .loan-dashboard-main-cont .main-dashboard .main_content .innovate-d-crm-cont .boxD h3 span {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #344054;
  }
  .loan-dashboard-main-cont .main-dashboard .main_content .innovate-d-crm-cont .boxD .header button {
    font-family: Poppins;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #12B76A;
    width: 90px;
    /* height: 24;
    gap: 10px; */
    padding-top: 5px;
    padding-right: 16px;
    padding-bottom: 5px;
    padding-left: 16px;
    border-radius: 16px;
    border-width: 1px;
    background: #E7F8F0;
    border: 1px solid #D0F1E180;

  }
  .loan-dashboard-main-cont .main-dashboard .main_content .innovate-d-crm-cont .boxD h5 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    color: #0D448C;
  }
  .loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-b1-d .header-crm-ino h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #344054;
    padding-bottom: 0px;
    border-bottom: none;
  }
  .loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-b1-d .header-crm-ino button {
    width: 207px;
    /* height: 50;
    gap: 10px; */
    padding-top: 11px;
    padding-right: 16px;
    padding-bottom: 11px;
    padding-left: 16px;
    border-radius: 8px;
    border-width: 1px;
    background: var(--Primary-Blue-1, #0D448C);
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #FFFFFF -20.83%, rgba(255, 255, 255, 0) 15.62%);
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0%;
    color: #FFFFFF;
  }
  .loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-b1-d .crm-in-documents-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-b1-d .crm-in-documents-cont .box{
    width: 100%;
    /* height: 50; */
    border-width: 1px;
    padding: 16px;
    border-radius: 8px;
    border-width: 0px, 0px, 0px, 0px;
    border-style: solid;
    border-color: #F5F6F7;
  }
  .loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-b1-d .crm-in-documents-cont .box h2 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #16293D;
  }
  .loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-b1-d .crm-in-documents-cont .box h2 span {
    font-family: Poppins;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0px;
  }
  .loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-b1-d .crm-in-documents-cont .box h3 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #121212E5;
  }
  .loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .crm-b1-d .crm-in-documents-cont .box h3 span {
    font-family: Poppins;
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #0D448C;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    width: 102px;
    display: block;
  }
  .loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .traces-cont .main-trace .h-crm-i h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #344054;
  }
  .loan-dashboard-main-cont .main-dashboard .main_content .appinfo-repay-cont .traces-cont .main-trace .h-crm-i button {
    font-family: Poppins;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #E31B23;
    /* width: 90;
    height: 24;
    gap: 10px; */
    padding-top: 5px;
    padding-right: 16px;
    padding-bottom: 5px;
    padding-left: 16px;
    border-radius: 16px;
    border-width: 1px;
    background: #FCE8E9;
    border: 1px solid #F9D1D380;
  }
  .loan-dashboard-main-cont .main-dashboard .main_content .innovate-d-crm-cont .boxD h3 button {
    font-family: Poppins;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #12B76A;
    /* width: 68;
    height: 24;
    gap: 10px; */
    padding-top: 5px;
    padding-right: 16px;
    padding-bottom: 5px;
    padding-left: 16px;
    border-radius: 16px;
    border-width: 1px;
    background: #E7F8F0;
    border: 1px solid #D0F1E180
  }
  
  .loan-dashboard-main-cont .main-dashboard .main_content .solu-comm-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .loan-dashboard-main-cont .main-dashboard .main_content .solu-comm-main .box {
    width: 100%;
    /* height: 348; */
    border-radius: 12px;
    padding: 20px;
    background: #FAFAFA;
  }
  .loan-dashboard-main-cont .main-dashboard .main_content .solu-comm-main .box h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #344054;
  }
  .loan-dashboard-main-cont .main-dashboard .main_content .solu-comm-main .box form label{
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #292D32;
    display: block;
  }
  .loan-dashboard-main-cont .main-dashboard .main_content .solu-comm-main .box form textarea {
    width: 100%;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    border-radius: 8px;
    border-width: 1px;
    background: #FFFFFF;
    border: 1px solid var(--Border, #EAEAEB);
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #7F8184;
  }
  .loan-dashboard-main-cont .main-dashboard .main_content .solu-comm-main .box form button {
    /* width: 161px; */
    /* height: 50;
    top: 274px;
    left: 25px;
    gap: 10px; */
    padding-top: 11px;
    padding-right: 16px;
    padding-bottom: 11px;
    padding-left: 16px;
    border-radius: 8px;
    border-width: 1px;
    background: var(--Primary-Blue-1, #0D448C);
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #FFFFFF -20.83%, rgba(255, 255, 255, 0) 15.62%);
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0%;
    color: #FFFFFF;
  }
  .loan-dashboard-main-cont .sidebar-main .main-nav-link .drop-ncrm {
    background-color: transparent;
    border: none;
    padding: 0px;
  }
  .loan-dashboard-main-cont .sidebar-main .main-nav-link .drop-ncrm .sub h3 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
  }
  .loan-dashboard-main-cont .sidebar-main .main-nav-link .drop-ncrm .sub {
    display: flex;
    align-items: center;
    padding: 12px 12px 12px 30px;

  }